<section class="text-gray-600 body-font">
  <div class="lg:w-2/3 w-full mx-auto px-5 py-24 leading-relaxed">
    <h3 class="mt-8 pb-4 border-b font-semibold sm:text-2xl text-xl">貸す人の流れ</h3>
    <p class="mt-4">貸す人は、本人登録と出品登録をする必要があります。</p>
    <ol class="mt-4 ml-5 list-outside list-decimal">
      <li>本人確認をします。</li>
      <li>出品登録をします。</li>
      <li>貸出申請が来たら、貸出の可否を選択します。</li>
      <li>指定期間に決済が完了したら、貸出日中に必ず発送を行います。</li>
      <li>貸出品が無事に届いたことをアプリにて確認します。</li>
      <li>貸出期間終了日に相手から発送されたことを確認します。</li>
      <li>貸出品が届いたら、動作を確認し、アプリにて到着&動作確認&相手への評価のステップを完了させます。</li>
      <li>相手に評価を貰えたら、無事取引終了です。</li>
    </ol>
    <h3 class="mt-8 pb-4 border-b font-semibold sm:text-2xl text-xl">借りる人の流れ</h3>
    <p class="mt-4">借りる人は、本人確認と決済登録と貸出申請をする必要があります。</p>
    <ol class="mt-4 ml-5 list-outside list-decimal">
      <li>本人確認をします。</li>
      <li>決済登録をします。</li>
      <li>貸出申請をします。</li>
      <li>貸出申請の許可が下り、指定期間に入れば決済が行われます。</li>
      <li>貸出品が届いたら、動作を確認し、アプリにて到着&動作確認のステップを完了させます。</li>
      <li>貸出期間終了日に必ず発送を行います。延長の場合は延長の申請を送ります。</li>
      <li>貸出品が無事に届き、相手からの評価を確認します。</li>
      <li>相手に評価をしたら、無事取引終了です。</li>
    </ol>
  </div>
</section>