<div class="text-gray-600 body-font bg-white shadow overflow-hidden sm:rounded-lg">
  <div class="border border-gray-200 lg:w-2/3 w-full mt-0 mb-12 md:mt-24 md:mb-24 mx-auto">
    <dl>
      <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">事業者</dt>
        <dd class="mt-2 text-sm text-gray-900 sm:mt-0 sm:col-span-2">株式会社BLP</dd>
      </div>
      <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">代表者</dt>
        <dd class="mt-2 text-sm text-gray-900 sm:mt-0 sm:col-span-2">大塚正展</dd>
      </div>
      <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">住所</dt>
        <dd class="mt-2 text-sm text-gray-900 sm:mt-0 sm:col-span-2">東京都江東区木場六丁目12番5号太閤ビル3階</dd>
      </div>
      <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">ホームページ</dt>
        <dd class="mt-2 text-sm text-gray-900 sm:mt-0 sm:col-span-2">https://b-l-p.biz</dd>
      </div>
      <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">電話番号</dt>
        <dd class="mt-2 text-sm text-gray-900 sm:mt-0 sm:col-span-2">045-710-5413</dd>
      </div>
      <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">メールアドレス</dt>
        <dd class="mt-2 text-sm text-gray-900 sm:mt-0 sm:col-span-2">toolkari@b-l-p.biz</dd>
      </div>
      <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">商品の販売価格・サービスの対価</dt>
        <dd class="mt-2 text-sm text-gray-900 sm:mt-0 sm:col-span-2">各商品のご購入ページにて表示する価格。</dd>
      </div>
      <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">売上金の支払時期</dt>
        <dd class="mt-2 text-sm text-gray-900 sm:mt-0 sm:col-span-2">月末締め翌月末払い</dd>
      </div>
      <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">料金の支払時期</dt>
        <dd class="mt-2 text-sm text-gray-900 sm:mt-0 sm:col-span-2">即日。</dd>
      </div>
      <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">支払い方法</dt>
        <dd class="mt-2 text-sm text-gray-900 sm:mt-0 sm:col-span-2">クレジットカード決済。または銀行振込。</dd>
      </div>
      <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">商品引渡し時期</dt>
        <dd class="mt-2 text-sm text-gray-900 sm:mt-0 sm:col-span-2">決済の確認後、1〜7日程度で発送されます。</dd>
      </div>
      <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">返品の取扱条件／返品期限、返品時の送料負担</dt>
        <dd class="mt-2 text-sm text-gray-900 sm:mt-0 sm:col-span-2">返品の取り扱い条件、送料負担：商品到着後何か不具合があった場合は翌日9時までに貸主へ通知してください。返品時の送料は貸主負担とさせて頂きます。解約や退会条件：解約及び退会に条件はございません。退会した月の翌月末にチャージ金額から支払手数料を引いた金額を振り込ませて頂きます。</dd>
      </div>
      <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">不良品の取扱条件</dt>
        <dd class="mt-2 text-sm text-gray-900 sm:mt-0 sm:col-span-2">ご利用者が快適にレンタルができるように万全を期しておりますが、万が一下記の場合には「通知する」ボタンを押してください。<br>１．注文した商品が届かない<br>２．商品に間違い・不足がある<br>３．商品に破損または品質の問題がある<br>４．その他 商品到着後の翌日9時までに動作確認をし「商品到着・動作確認済」ボタンを押してください。<br>１～４のような不備があった場合は「通知する」というボタンを押すと不備項目選択ボタンへ移行しますので貸主及び借主にてアプリ内でやり取りをして頂き返品・交換を速やかに行ってください。</dd>
      </div>
    </dl>
  </div>
</div>