<div class="text-gray-600 body-font bg-white shadow overflow-hidden sm:rounded-lg">
  <div class="border border-gray-200 lg:w-2/3 w-full mt-0 mb-12 md:mt-24 md:mb-24 mx-auto">
    <dl>
      <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">事業者</dt>
        <dd class="mt-2 text-sm text-gray-900 sm:mt-0 sm:col-span-2">株式会社BLP</dd>
      </div>
      <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">代表者</dt>
        <dd class="mt-2 text-sm text-gray-900 sm:mt-0 sm:col-span-2">大塚正展</dd>
      </div>
      <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">住所</dt>
        <dd class="mt-2 text-sm text-gray-900 sm:mt-0 sm:col-span-2">東京都江東区木場六丁目12番5号太閤ビル3階</dd>
      </div>
      <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">電話番号</dt>
        <dd class="mt-2 text-sm text-gray-900 sm:mt-0 sm:col-span-2">03-6458-7726</dd>
      </div>
      <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">メールアドレス</dt>
        <dd class="mt-2 text-sm text-gray-900 sm:mt-0 sm:col-span-2">support@toolkari.com</dd>
      </div>
      <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">商品の販売価格・サービスの対価</dt>
        <dd class="mt-2 text-sm text-gray-900 sm:mt-0 sm:col-span-2">各商品のご購入ページにて表示する価格。</dd>
      </div>
      <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">料金の支払時期</dt>
        <dd class="mt-2 text-sm text-gray-900 sm:mt-0 sm:col-span-2">月末締め翌月○日払い</dd>
      </div>
      <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">料金の支払時期</dt>
        <dd class="mt-2 text-sm text-gray-900 sm:mt-0 sm:col-span-2">クレジットカードにより即日。</dd>
      </div>
      <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">支払い方法</dt>
        <dd class="mt-2 text-sm text-gray-900 sm:mt-0 sm:col-span-2">クレジットカード決済。</dd>
      </div>
      <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">商品引渡し時期</dt>
        <dd class="mt-2 text-sm text-gray-900 sm:mt-0 sm:col-span-2">決済の確認後、1〜7日程度で発送されます。</dd>
      </div>
      <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">返品・キャンセルに関する特約</dt>
        <dd class="mt-2 text-sm text-gray-900 sm:mt-0 sm:col-span-2">商品発送前の取引中止は全額返金されます。 商品発送後のキャンセルは、原則返金されません。 但し、配送や商品に問題があった場合は両者同意のもとに取引中止、全額もしくは一部返金されます。</dd>
      </div>
    </dl>
  </div>
</div>