<header class="text-gray-600 body-font">
  <p class="bg-indigo-600 h-10 flex items-center justify-center text-sm font-medium text-white px-4 sm:px-6 lg:px-8">○月○日より正式リリース開始！</p>
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a href="index.html" class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
      <div class="text-white p-2 rounded"><img src="toolkari_270.png" width="50" height="50"></div>
    </a>
    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
      <a href="about.html" class="mr-5 hover:text-gray-900">TOOLKARIとは</a>
      <a href="how-to.html" class="mr-5 hover:text-gray-900">使い方</a>
      <a href="help.html" class="mr-5 hover:text-gray-900">ヘルプ</a>
      <a href="support.html" class="hover:text-gray-900">サポート</a>
    </nav>
  </div>
</header>