<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap items-start md:space-x-4 sm:-m-4 -mx-4 -mb-10 -mt-4">
      <div class="p-4 w-full md:flex-1 sm:mb-0 mb-6 border-2 rounded-lg border-gray-200 border-opacity-50">
        <details class="p-4 cursor-pointer border-b my-details">
          <summary>手数料はかかりますか</summary>はい。手数料は売り上げの5%となっております。
        </details>
      </div>
      <div class="p-4 w-full md:flex-1 sm:mb-0 mb-6 border-2 rounded-lg border-gray-200 border-opacity-50">
        <details class="p-4 cursor-pointer border-b my-details">
          <summary>送料はどうなっていますか？</summary>レンタルする商品により異なります。
        </details>
      </div>
      <div class="p-4 w-full md:flex-1 sm:mb-0 mb-6 border-2 rounded-lg border-gray-200 border-opacity-50">
        <details class="p-4 cursor-pointer border-b my-details">
          <summary>取引時にトラブルが会ったときはどうしたら良いですか？</summary>運営局が間に入り、速やかに問題解決に入ります。
        </details>
        <details class="p-4 cursor-pointer border-b my-details">
          <summary>iPadでは使えますか？</summary>いいえ。現在はiOSとAndroidのみ対応しております。
        </details>
      </div>
    </div>
  </div>
</section>

<style>
  .my-details {
    margin-left: 1rem;
  }
  .my-details summary {
    margin-left: -1rem;
  }

  .my-details[open] summary {
    margin-bottom: 8px;
  }
</style>