<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="noindex">
  <link rel="stylesheet" href="styles.css">
  <title>TOOLKARIの使い方 | 工具レンタルアプリ「TOOLKARI」</title>
</head>
<body>
  <% include components/_header %>
  <%- include('components/_title', {title: 'TOOLKARIの使い方', subTitle: 'How to'}); %>
  <% include components/how-to/_body %>
  <% include components/_footer %>
</body>
</html>