<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="noindex">
  <link rel="stylesheet" href="styles.css">
  <title>プライバシーポリシー | 工具レンタルアプリ「TOOLKARI」</title>
</head>
<body>
  <% include components/_header %>
  <%- include('components/_title', {title: 'プライバシーポリシー', subTitle: 'Privacy Policy'}); %>
  <% include components/privacy/_body %>
  <% include components/_footer %>
</body>
</html>